{% extends "base.html" %}
{% block title %} Log In {% endblock %}
{% block content%}
    <div class="textbox-container">
        <h1> Log In </h1>
        <form method="post" action="{{ url_for('login') }}">
            {{ render_input("username", "Username") }}
            {{ render_input("password", "Password", "", "password") }}
            {{ render_input("login", "login", "Log in", "submit") }}
            <a href="signup">
                <p>Haven't created an account yet?</p>
            </a>

            <h4 class="success">{{ message_success }}</h4>
            <h4 class="error">{{ message_error }}</h4>
            <h4 class="info">{{ message_info }}</h4>
        </form>
    </div>
{% endblock %}
