{% extends "base.html" %}
{% block title %} Sign Up {% endblock %}
{% block content%}
    <div class="textbox-container">
        <h1> Sign up </h1>
        <form method="post" action="{{ url_for('signup') }}">
            {{ render_input("username", "username") }}
            {{ render_input("password", "password", type="password") }}
            {{ render_input("submit", "Submit", "Sign Up", "submit") }}
            <a href="login">
                <p>Do you already have an account?</p>
            </a>

            <h4 class="success">{{ message_success }}</h4>
            <h4 class="error">{{ message_error }}</h4>
            <h4 class="info">{{ message_info }}</h4>
        </form>
    </div>
{% endblock %}